

<div class="container col-12 col-md-8 col-lg-7 col-xl-5">

  <!-- NAVIGATION -->
  <div class="row">
    <div class="col align-self-center">
      <nav class="navbar navbar-expand-lg navbar-light bg-light col-12">
        <button class="navbar-toggler"
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarTogglerDemo01" 
                aria-controls="navbarTogglerDemo01" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact-list">List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/create-update-contact">Create/Update</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
   <!-- /NAVIGATION -->

  <router-outlet></router-outlet>

</div>


